.base{
    height: 200px;
    text-align: center;
    margin: 2% auto;
}

#boton0{
    width: 100%;
    height: 100%;
    background-color:red;
    border-radius: 16px;
}

#boton1{
    width: 100%;
    height: 100%;
    background-color: blue;
    border-radius: 16px;
}

#boton2{
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: 16px;
}

#boton3{
    width: 100%;
    height: 100%;
    background-color: yellow;
    border-radius: 16px;
}